.header {
  background-color: gray;
  isolation: isolate;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 auto;
  min-width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header-bg/header-bkg-mobile-1@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg/header-bkg-mobile-1@2x.png);
  }
  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg/header-bkg-tablet-1@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-bg/header-bkg-tablet-1@2x.png);
    }
  }
  @include desktop {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header-bg/header-bkg-desktop-1@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-bg/header-bkg-desktop-1@2x.png);
    }
  }
}
.header-container {
  font-weight: 500;
  position: relative;
  line-height: 1.17;
}
.header-panel {
  display: flex;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    width: 25px;
    height: 25px;
  }
}
.site-name {
  font-size: 0px;
  margin-left: 10px;
  color: #ffffff;
  @include tablet {
    font-size: 30px;
  }
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  height: 1px;
  width: 1px;
  margin: -1px;
  position: absolute;
}
.nav-list {
  margin-right: 30px;
  display: flex;
  column-gap: 20px;
  // margin: 0 auto;
  font-size: $primary-font-size;
  color: $lighter-text-color;
  @include tablet {
    column-gap: 40px;
    margin-right: 60px;
  }
}
.sign-in__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: $transparent;
  border: 1px solid $accent-color;
  color: $lighter-text-color;
  padding: 5px;
  border-radius: 15px;
  font-size: $primary-font-size;
}
.header-control {
  margin-left: auto;
  display: flex;
  @include tablet {
    align-items: center;
  }

  margin-top: 5px;
  @include desktop {
    margin-top: 10px;
  }
}
.google__sign-in {
  display: block;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-image: url('../images/logo-google-mini.png');
}
.display-name {
  display: block;
  margin-bottom: 5px;
  @include tablet {
    margin-bottom: 0;
    margin-right: 10px;
  }

  color: #ffffff;
  font-size: $primary-font-size;
}
.autorization__log-in {
  @include tablet {
    display: flex;
    align-items: center;
  }
}
.nav-list__link--selected {
  position: relative;
  &::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}
.header-control__btn--focus {
  transition-duration: 300ms;
  &:hover,
  &:focus {
    border-color: #ff001b;
    color: $accent-color;
  }
}
.search {
  margin-top: 54px;
  font-size: 14px;
}
.search__form {
  display: flex;
  max-width: 340px;
  height: 20px;
  margin: 0 auto;
  border-bottom: 0.2px solid #f7f7f7bd;
}
.search__form:hover,
.search__form:focus {
  border-bottom: 0.2px solid $accent-color;
}
.search__input {
  border: none;
  outline: none;
  color: $lighter-text-color;
  background: $transparent;
  width: 100%;
}
.search__img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.search__img:hover {
  width: 18px;
  height: 18px;
}
.search__btn {
  background-color: $transparent;
  border: none;
  width: 20px;
  outline: none;
}

::-webkit-input-placeholder {
  color: $lighter-text-color;
}
:-moz-placeholder {
  color: $lighter-text-color;
}
::-moz-placeholder {
  color: $lighter-text-color;
}
:-ms-input-placeholder {
  color: $lighter-text-color;
}
