<footer class="footer">
    <div class="footer__container">
        <p class="footer__copyright">&#169; 2022 | All Rights Reserved |</p>
        <div class="footer__developed">
            <p class="developed">Developed with</p>
            <svg class="footer__heart-icon" width="14" height="12">
                <use class="heart-icon" href="./images/sprite.svg#icon-heart" ></use>
            </svg>      
            <p class="students">
                by <button type="button" class="footer__button team-modal" data-modal-open>GoIT Students</button>
            </p>
        </div>
    </div>
</footer>