<header class="header">
  <div class="container header__container header__container-non-active">
    <nav class="nav">
      <div class="logo__container">
        <a href="./index.html" class="logo logo__link">
          <svg class="logo__img">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
          <p class="site-name">Filmoteka</p>
        </a>
      </div>
      <div class="menu__container">
        <ul class="nav-list list">
          <li class="nav-list__item-home nav-list__item-home-active">
            <a
              href="./index.html"
              class="nav-list__link-home nav-list__link-home-accent link"
              >HOME</a
            >
          </li>
          <li class="nav-list__item-library">
            <a
              href="#"
              class="nav-list__link-library nav-list__link-library-accent link"
              data-library
              >MY LIBRARY</a
            >
          </li>
          <li class="nav-list__item-sign-in">
            <button
              type="button"
              class="sign-in__button nav-list__link-sign-in nav-list__link-sign-in-accent"
              data-sign-in
            >
              <span>SIGN IN</span><span class="google__sign-in"></span>
            </button>
            
          </li>
          <li class="nav-list__item-log-in is-hidden backdrop">
            <span class="display-name"></span>
            <button
              type="button"
              onClick="window.location.reload();"
              class="sign-in__button nav-list__link-sign-in nav-list__link-sign-in-accent"
              data-sign-out
            >
              LOGOUT
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="search">
      <form class="search__form">
        <input
          class="search__input"
          type="text"
          name="filmName"
          minlength="3"
          maxlength="20"
          placeholder="Search movies"
          required
        />

        <button class="search__btn" type="submit">
          <svg class="search__img">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <p class="hero__search-error is-hidden">
        Search result not successful. Enter the correct movie name and try
        again!
      </p>
    </div>

    <div class="library-filter visually-hidden">
      <button type="button" class="library-filter__btn" data-watched>
        WATCHED
      </button>
      <button type="button" class="library-filter__btn" data-queue>
        QUEUE
      </button>
    </div>
    <!-- Filter -->
    
      <form class="filter-genre" id="filter-form">
        <label class="filter-label">Choose genre:</label>
        <select name="genres" id="genres">
          <option value="genres">all genres</option>
        </select>
      </form>
    
  </div>
  
</header>
