<main>
  <section class="gallery-section">
    <div class="container">
      <div class="gallery">
        <h2 class="visually-hidden">MOVIES GALLERY</h2>

        <ul class="gallery__list">
          <!-- <li class="gallery__item">
            <div class="gallery-card"></div>
            <img
              src="/src/images/proto-desk.jpg"
              alt="#"
              class="gallery-card__img"
            />
            <h3 class="gallery-card__title">GREYHOUND</h3>
            <p class="gallery-card__description">
              <span class="gallery-card__genre"
                >Drama, Action |
                <span class="gallery-card__date">2020</span></span
              >
              <span class="gallery-card__rating">10.0</span>
            </p>
          </li> -->
        </ul>
      </div>
    </div>
  </section>
</main>
