<main>
  <section class="gallery-section">
    <div class="container">
      <div class="sign-in-wrapper visually-hidden">
        <img id="img-sign-in" src="./images/sign-in.png" alt="PLEASE SIGN IN" />
      </div>
      <div class="gallery">
        <h2 class="visually-hidden">MOVIES GALLERY</h2>
        <p class="hero__search-error is-hidden">
          Search result not successful. Enter the correct movie name and try
          again!
        </p>
        <div class="empty__request is-hidden">
          <img
            src="https://cdn.pixabay.com/photo/2016/08/21/16/31/emoticon-1610228_1280.png"
            alt="Empty request"
            width="500"
          />
        </div>

        <ul class="gallery__list">
          <!-- <li class="gallery__item">
            <div class="gallery-card"></div>

            <img src="#" alt="#" class="gallery-card__img" />

            <img
              src="#"
              alt="#"
              class="gallery-card__img"
            />

            <h3 class="gallery-card__title">GREYHOUND</h3>
            <p class="gallery-card__description">
              <span class="gallery-card__genre"
                >Drama, Action |
                <span class="gallery-card__date">2020</span></span
              >
              <span class="gallery-card__rating">10.0</span>
            </p>
          </li> -->
        </ul>
        <ul class="gallery__list--library visually-hidden"></ul>
      </div>
    </div>
  </section>
</main>
